@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-standart: 17px;
  --fs-md: 24px;
  --fs-lg: 30px;
  --fs-xlg: 90px;

  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  --radius: 5px
}

body[data-theme='dark'] {
    --colors-text: hsl(0, 0%, 100%);
    --colors-bg:  hsl(207, 26%, 17%);
    --colors-ui-base:hsl(209, 23%, 22%);
  
    --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
  }
  body[data-theme='light'] {
    --colors-text: hsl(200, 15%, 8%);
    /* --colors-bg: hsl(0, 0%, 98%); */
    --colors-bg: hsl(42, 100%, 98%);
    --colors-ui-base:hsl(0, 0%, 100%);
  
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: var(--family);
    background-color: var(--colors-bg);
    color: var(--colors-text);
    font-size: var(--fs-standart);
}


@media screen and (max-width: 700px) {
  :root{
    --fs-standart: 16px;
    --fs-md: 22px;
    --fs-lg: 26px;
    --fs-xlg: 70px;
  }

}